<div class="container">
  <div class="wrap">
    {% for block in section.blocks %}
      <div class="partners-page-cart-grid-item">
        <a href="{{ block.settings.link }}"><img src="{{ block.settings.img | img_url: 'master'}}"></a>
        <div class="content">
          <a href="{{ block.settings.link }}">
            <h3>{{ block.settings.title }}</h3>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.3326 11.2001L9.49922 23.0667C9.23255 23.3334 8.91566 23.4667 8.54855 23.4667C8.18233 23.4667 7.86589 23.3334 7.59922 23.0667C7.33255 22.8001 7.19922 22.4832 7.19922 22.1161C7.19922 21.7499 7.33255 21.4334 7.59922 21.1667L19.4659 9.33341H9.33255C8.95477 9.33341 8.63789 9.20586 8.38189 8.95075C8.12677 8.69475 7.99922 8.37786 7.99922 8.00008C7.99922 7.6223 8.12677 7.30541 8.38189 7.04941C8.63789 6.7943 8.95477 6.66675 9.33255 6.66675H22.6659C23.0437 6.66675 23.3601 6.7943 23.6152 7.04941C23.8712 7.30541 23.9992 7.6223 23.9992 8.00008V21.3334C23.9992 21.7112 23.8712 22.0276 23.6152 22.2827C23.3601 22.5387 23.0437 22.6667 22.6659 22.6667C22.2881 22.6667 21.9717 22.5387 21.7166 22.2827C21.4606 22.0276 21.3326 21.7112 21.3326 21.3334V11.2001Z" fill="#2A0800"/>
            </svg>
          </a>
          {{ block.settings.text }}
        </div>
       </div>       
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Partners page card grid",
    "class": "partners-page-cart-grid",
    
    "settings": [
    
    ],
    "blocks": [
		{
			"type": "item",
			"name": "item",
			"settings": [
              {
                 "type":"text",
                 "id":"title",
                 "label":"Title"
               },
               {
                 "type":"richtext",
                 "id":"text",
                 "label":"Text"
               },
               {
                "type": "image_picker",
                "id": "img",
                "label": "Image"
               },
              {
                 "type":"url",
                 "id":"link",
                 "label":"Link"
               }
			]
		}
	],
     "presets": [
    {
      "name": "Partners page card grid"
    }
  ]
  }
{% endschema %}